@font-face {
  font-family: quicksand-bold;
  src: url(./fonts/Quicksand-Bold.ttf);
}
@font-face {
  font-family: quicksand-light;
  src: url(./fonts/Quicksand-Light.ttf);
}
@font-face {
  font-family: quicksand-medium;
  src: url(./fonts/Quicksand-Medium.ttf);
}
@font-face {
  font-family: quicksand-regular;
  src: url(./fonts/Quicksand-Regular.ttf);
}
@font-face {
  font-family: quicksand-semibold;
  src: url(./fonts/Quicksand-SemiBold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: quicksand-regular, "Roboto", Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  background-color: hsl(32, 100%, 97%);
}

#root {
  width: 100%;
}

.pokemon-collection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 120px;
  padding: 0px 35px;
}

.pokemon-card {
  display: flex;
  background-color: hsl(32, 36%, 73%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-bottom: 20px;
  width: 160px;
  height: 250px;
  border: 1px solid black;
  border-radius: 12px;
  font-size: 1.15rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon-card .pokemon-name {
  font-size: 1.5rem;
}

.pokemon-image {
  margin: 10px;
  width: 70px;
  height: 70px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  border-bottom: 1px solid black;
  font-size: 1.5rem;
  margin-bottom: 35px;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.welcome-headers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-bottom: 50px;
}

.welcome-headers h1 {
  font-size: 2.5rem;
}

.nav-links {
  font-size: 1.8rem;
}

ul {
  list-style: none;
  display: flex;
  gap: 50px;
}

.shop-amount-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.top-button-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 100%;
  border: 1px solid black;
}

.increment-button {
  background-color: hsl(113, 54%, 68%);
}

.decrement-button {
  background-color: hsl(1, 55%, 79%);
}

.increment-button:hover {
  background-color: hsl(112, 100%, 55%);
}

.decrement-button:hover {
  background-color: hsl(1, 100%, 27%);
}

.button:hover {
  cursor: pointer;
}

.add-cart-button {
  padding: 5px 10px;
  font-size: 1.05rem;
  background-color: hsl(66, 90%, 68%);
  border: 1px solid rgb(241, 241, 214);
}

.add-cart-button:hover {
  cursor: pointer;
  background-color: #c4ff3b;
}

.amount {
  background-color: rgb(255, 217, 173);
  padding: 2px;
  border-radius: 5px;
  width: 60px;
  height: 30px;
  text-align: center;
  border: 1px solid rgb(199, 199, 199);
  font-size: 1.15rem;
  overflow-x: auto;
}

.shop-container {
  position: relative;
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding: 0 20px;
  padding-bottom: 100px;
  min-height: 90vh;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.favorite-pokemon {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding-left: 50px;
  padding-top: 50px;
}

.favorite-pokemon-container {
  display: flex;
  gap: 20px;

  flex-wrap: wrap;
}

.clicked-pokemon {
  margin-top: 25px;
}

.may-like-wrapper {
  padding-top: 50px;
  margin-left: 50px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  background-color: hsl(32, 50%, 87%);
  flex-grow: 0;
}

.may-like-header {
  align-self: center;
}

.may-like-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 20px;
  justify-items: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: rgb(202, 191, 176);
}

#checkout-img {
  width: 30px;
  height: 30px;
}

#checkout-button {
  border: 1px solid rgb(97, 97, 97);
  border-radius: 2px;
  padding: 2px;
  background-color: transparent;
}

#checkout-button:hover {
  cursor: pointer;
}

.may-like-wrapper.pokemon-card {
  margin: auto;
}
